<div style="padding: 15px">
  <ul class="nav nav-tabs">
    <li>
      <a routerLink="home">Home</a>
    </li>
    <span style="padding-left: 20px">  </span>
    <li>
      <a routerLink="employees">Employees</a>
    </li>
    <span style="padding-left: 20px">  </span>
    <li>
      <a routerLink="practice">Further practice</a>
    </li>
    <span style="padding-left: 20px">  </span>
    <li>
      <a routerLink="starwars">Star Wars </a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
