.description{
    padding: 3px;
    color: darkslategrey;
    font-size: small;
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li{
    font-weight: bold;
    font-size: small;
}


table, th, td {
    border: 1px solid grey;
    color: cadetblue;
}
